header {
  background-color: $alpha-color;
  color: #fff;
  height: 6rem;
  margin: 0;
  padding: 0;
  width: 100%;
  // position: fixed;
  div {
    h1, h2 {
    font-family: $font-titles;
    font-size: $larger;
    text-align: center;
    }
    h1 {
    // background-color: green;
    margin-bottom: -0.5rem;
    padding-right: 30rem;
    }
    h2 {
    // background-color: blue;
    color: $alpha-color;
    z-index: 1;
    }
    p {
    font-family: $font-base;
    font-size: $medium;
    }
  }
}
