//Colors

$darkest: #29429E;
$darker: #435AAF;
$medium: #6177C8;
$lighter: #879ADD;
$lightest: #B7C3F0;

$alpha-color: $medium;
$beta-color: $lightest;
$delta-color: $lighter;
$gamma-color: $darkest;
$epsilon-color: $darker;

//Base Fonts
$font-base: 'Lato', sans-serif;
$font-titles: 'Dancing Script', serif;

// Font Sizing
$small: 0.618rem;
$normal: 1rem;
$medium: 1.618rem;
$large: 2.618rem;
$larger: 4.236rem;
$largest: 6.854rem;
